/* font import */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Creepster&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Hex Codes
Deep red #7C050B
Light orange #EE7E3C
Red #D21803
Black #000000
Yellow #FDBF0C
Tan #BD9780
*/

/* main code */

body {
	background-color: #BD9780;
	font-family: 'Arimo', sans-serif;
}

#container {
	display: flex;
	flex-direction: column;
}

header, footer {
	width: 100%;
	height: 200px;
	background-color: #EE7E3C;
}

footer {
	margin-top: 1em;
}

#container h2 {
	font-family: 'Creepster', cursive;
	color: #7C050B;
	margin: 0 auto;
	font-size: 3em;
	letter-spacing: 0.25em;
	padding: 1em 0;
}

#gallery {
	flex: 2;
	order: 2;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	justify-content: center;
	border: 2pt solid #D21803;
	padding: 1em 0;
}

#gallery img {
	margin: 1rem;
	height: 300px;
}


/* media queries */

@media screen and (min-width: 750px) {
	#gallery {
		width: 80%;
		margin: 0 auto;
	}
	
}