/*
Hex Codes
Deep red #7C050B
Light orange #EE7E3C
Red #D21803
Black #000000
Yellow #FDBF0C
Tan #BD9780
*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Creepster&display=swap');

*, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- Main Styles--------------- */
body {
	background-color: #000000;
	font-family: 'Arimo', sans-serif;
}

main {
  min-height: 800px;
}

.container h1 {
	font-family: 'Creepster', cursive;
	color: #bd9790;
}

#warning{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.btn {
  border: 2pt solid #FDBF0C;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: 'Creepster', cursive;
  cursor: pointer;
  color: #000;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25em;
  letter-spacing: 0.25em;
  color: #000;
}

main .btn {
  margin: auto;
  margin-top: 3.5rem;
  background-color: #D21803;
}

.btn:hover{
  background-color: #EE7E3C;
  border: 2pt solid green;
}

#about {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  font-family: 'Creepster', cursive;
  padding: 2%;
  margin-left: 5%;
  }

  #about img {
    height: 500px;
}

body {
  background-color: rgb(15, 15, 15);
  line-height: 1rem;
  font-family: 'Arimo', sans-serif;
}

/* ------------- Burger Menu --------------- */

#menu__toggle {
	opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
  }

  .menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	left: 20px;

	width: 26px;
	height: 26px;

	cursor: pointer;
	z-index: 1;
  }


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;

width: 100%;
height: 2px;

background-color: #616161;

transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}

.menu__box {
display: block;
position: fixed;
visibility: hidden;
top: 0;
left: -100%;

width: 15em;
height: 100%;

margin: 0;
padding: 80px 0;

list-style: none;

background-color: #BD9780;
box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

transition-duration: .25s;
}

.menu__item {
display: block;
padding: 12px 24px;

color: #FDBF0C;

font-family: 'Roboto', sans-serif;
font-size: 1em;
font-weight: 600;

text-decoration: none;

transition-duration: .25s;
}
.menu__item:hover {
background-color: #D21803;
}




/* ----- sidenav ---- */
.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
	height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
	border-right: #ffffff dotted 2px;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  color: white;
  font-family: 'Creepster', cursive;
  font-size: 1em;
  letter-spacing: 0.25em;
  width: 100%;
  margin-left: 25px;
}

/* Page content
.main {
  margin-left: 200px;
}

/* ------------- Header --------------- */

#header {
  margin: 0 auto;
  background-color: #000000;
}


header {
  background-color: #7C050B;
  height: 150px;
  /*border-bottom: #ffffff dotted 2px;*/
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

header h1 {
  font-family: 'Creepster', cursive;
  letter-spacing: 0.15em;
  font-size: 3em;
  font-weight: bold;
  line-height: normal;
  padding: 20px;
}


/*nav {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}




/* --------------- Main Content Area--------------- */

h2 {
  color: #EE7E3C;
  font-size: 2em;
  border-bottom: #ffffff dotted 2px;
  line-height: 1.5em;
  padding-bottom: 10px;
  font-family: 'Creepster', cursive;
  letter-spacing: 0.25em;
  width: 100%;
  text-align: center;
}

h3 {
	display: flex;
  justify-content: center;
  color: rgb(163, 64, 81);
  font-size: 2em;
  border-bottom: #ffffff dotted 2px;
  line-height: 1.5em;
  padding-bottom: 10px;
}

p {
  display: flex;
  flex-wrap: wrap;
	color: #ffffff;
  line-height: 1.25em;
  padding-top: 10px;
  font-family: 'Arimo', sans-serif;
}

figure {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  line-height: 1.25em;
  padding-top: 10px;
  font-family: 'Arimo', sans-serif;
  /*flex-grow: 3;*/
}

figcaption{
	color: #FDBF0C;
  line-height: 1.25em;
  padding-top: 10px;
  font-family: 'Arimo', sans-serif;
}

.gallery {
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
  height: 300px;
  padding: 1em 0
}

/* ----------------- Aside -----------------

aside {
  display: block;
  justify-content: flex-start;
  background-color: rgb(255, 237, 237);
  font-family: 'Creepster', cursive;
  padding: 10%;
}

aside p {
  padding-bottom: 1%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

aside h2 {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px white;
  font-family: 'Creepster', cursive;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

figure {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
	display: flex;
  flex-direction: column;
  align-items: baseline;
	flex-flow: row-reverse wrap;
	margin:auto;
}

	main{
		flex: 0 100%;
		height: 60%;
  }


/*------------ spinning mask -----------------------*/
.mask {
  position: absolute;
  top: 15px;
  right: 0px;
  animation: move 5s infinite linear;
}
.mask img:hover {
  transform: scale(1.75);
  transition: .5s;
}

@keyframes move {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}



/* ----------------- Galleries  ----------------- */


/* ----------------- Footer ----------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE7E3C;
  clear: both;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer h4 {
  color: black;
  font-style: italic;
  font-size: 1.15em;
  text-align: center;
  font-family: 'Creepster', cursive;
}

.fancy_title h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}


/*------------ media queries -----------------------*/
@media screen and  (max-width: 480px){
  .sidenav{
    display: none;
    width: 0%;
}
figure {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #ffffff;
  line-height: 1.25em;
  padding-top: 10px;
}
figure img{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
  }


@media screen and  (max-width: 780px){
  .sidenav{
    display: none;
    width: 0%;
}

  }
@media screen and  (min-width: 780px){
  #about {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: 'Creepster', cursive;
    padding: 2%;
    margin-left: 16%;
    }
    header h1 {
      font-family: 'Creepster', cursive;
      letter-spacing: 0.15em;
      font-size: 3em;
      font-weight: bold;
      line-height: normal;
      padding: 20px;
      margin-left: 175px;
    }
}


/* keyframes */

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/*  .main {
    margin-left: 200px;
  }



@media screen and  (min-width: 1281px){


/*small screen
@media screen and  (min-width: 320px){
  main {
			flex: 1 0 0px
    }

	aside {
			flex: 0 0 200px
}
  body{
		color: rgb(44, 44, 44;
	}
  }

/*medium screen
@media screen and  (min-width: 720px){
  #about h2 {
    color: rgb(163, 64, 81);
    font-size: 2em;
    line-height: 1.5em;
    padding-bottom: 10px;
  }
  main {
			flex: 1 0 0px
    }

	aside {
			flex: 0 0 200px
}
  body{
		color: brown;
	}
}

/*desktop
@media screen and  (min-width: 1280px){
	body{
		color: rgb(222, 91, 135);
	}
}


/* jQuery Footer */

.demo h1 { font-size:72px;  text-transform:uppercase; margin-bottom:0px;}
        .char1,
        .line1 { color: #7C050B; }
        .char2,
        #demo2 .word2,
        .line2 { color: #000; }
        .char3,
        .word3,
        .line3 { color: #D21803; }
        .char4,
        .line4 { color: #FDBF0C; }
        .char5 { color: #FFF; }
        .char6 { color: #7C050B; }
        .char7 { color: #000; }
        .char8 { color: #D21803; }